body{
	background-color: rgb(109,119,179);
	background-image: url(../images/water.jpg);
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-size: cover;
	background-attachment: fixed;
	font-family: arial;
}
.main{
	background: rgba(255,255,255,0.75);
	width: 600px;
	margin: 0 auto;
	padding:30px;
	border-radius: 20px;
	box-shadow: 10px 10px 10px 10px rgba(200,200,200,0.75);
}

h1{
	text-align: center;
	border-bottom: 2px solid black;
	padding-bottom: 20px;
	text-shadow: 5px 5px 0 rgb(220,220,220);
}
h2{
	text-align: center;
	font-weight: normal;
	letter-spacing: 10px;
	text-transform: uppercase;
	font-size: 20px
}


img{
	display: block;
	margin: 0 auto;
	border: 20px dotted;
	border-radius: 20% 40%;
}
p,
ul,
ol{
	line-height: 2;
	list-style: none;
	padding-left: 0;
}
a{
	font-weight: bold;
	text-decoration: none;
	color: blue;
}
a:hover{
	color: red;
	text-decoration: underline;
}